html {
  font-size: .9rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.3rem;
  }
}


body {
  overflow-x: hidden;
}

.init-run {
  overflow-y: hidden;
}

.scroll-content{
  overflow: hidden;
  transition: all .5s;
}

.about {
  opacity: 0;
  transition: all .5s;
}

.hero {
  background-image:url('../assets/bg/mobile-hero.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}

video, .video-overlay, .splash, .splash > div, #what-matters {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  bottom: 0;
}

.contacts {
  margin-top: 100px;
}

// .contacts.hidden {
//   transform: translateY(-110vw)
// }

// .map-close {
//   position: fixed;
//   top: 0;
//   right:0;
//   z-index: 1600;
// }

// .contacts .container {
//   min-height: 100%;
// }

.contacts hr {
  height: 1px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  // width: 90%;
}

// .email {
//   position: relative;
//   z-index: 100;
// }

.email a {
  color: #0cbcb7 !important;
}

.video-overlay {
  background-color: $black;
  opacity: .57;
  transition: opacity .75s;
}

.video-overlay.darker {
  opacity: .97;
  transition: opacity .75s;
}

.splash {
  z-index: 1500;
}

section {
  padding-top: 100px;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.navbar {
  transition: all 1s;
}

#services .mfade.faded {
  // transform: translate3d(0, 30vh, 0);
  opacity: 0;
}

#services .mfade:nth-of-type(1) {
    transition: all .5s ease-in-out .1s;
}
#services .mfade:nth-of-type(2) {
    transition: all .5s ease-in-out .2s;
}
#services .mfade:nth-of-type(3) {
    transition: all .5s ease-in-out .3s;
}

#portfolio .fade-up.faded {
  transform: translate3d(0, 10vh, 0);
  opacity: 0;
}

#portfolio .fade-up {
    transition: all .5s ease-in-out;
    opacity: 1
}
#about .fade-up.faded {
  transform: translate3d(0, 5vh, 0);
  opacity: 0;
}

#about .fade-up {
    transition: all 1s ease-in-out .3s;
    opacity: 1
}

footer .v-divider {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  border-right: 1px solid #fff;
}

footer .h-divider {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  border-bottom: 1px solid #fff;
}

.bg-298fca {
  background-color: #298fca;
}

.bg-42548e {
  background-color: #42548e;
}

.bg-4d4d4d {
  background-color: #36405f;
}

.bg-3d8582 {
  background: #009ec3;
  background: -moz-linear-gradient(top, #009ec3 1%, #3d8582 100%);
  background: -webkit-linear-gradient(top, #009ec3 1%,#3d8582 100%);
  background: linear-gradient(to bottom, #009ec3 1%,#3d8582 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ec3', endColorstr='#3d8582',GradientType=0 );
}

textarea {
  resize: none;
}

#map {
  height: 100%;
  width: 100%;
}

.map-wrapper {
  min-height: 50vh;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

a:focus, a:active {
  outline: none !important;
  box-shadow: none !important;
}

button.close:focus, button.close:active {
  outline: none !important;
  box-shadow: none !important;
}

#expertise a img{
  filter: grayscale(1);
  transition: all .5s;
}

@media (hover: hover) {
  #expertise a:hover img{
    filter: grayscale(0);
  }
}

.navbar-light .navbar-nav .nav-link:focus {
  color: rgba($cyan, .75);
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba($white, .75);
}

.mh-15 {
  min-height: 15rem;
}

.mh-10 {
  min-height: 11rem;
}

.card-border-298fca {
  border: 1px solid #298fca !important
}

.card-border-42548e {
  border: 1px solid #42548e !important
}

.card-border-4d4d4d {
  border: 1px solid #4d4d4d !important
}