$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
$gray-800:                    #2F2F2F;
$card-border-width:           0;
$cyan:    #00a8c2;
$white: #fff;
$navbar-light-color:                rgba($cyan, .75);
$navbar-light-hover-color:          rgba($cyan, 1);
$navbar-light-active-color:         rgba($cyan, 1);
$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-active-color:          rgba($white, 1);
$modal-footer-border-width:         0;
$form-feedback-invalid-color:       $white;
$modal-header-border-width:         0;
$modal-header-padding:              .5rem;